<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <title>ReqRes Login</title>
</head>

<body>
    <div class="columns is-centered">
        <div class="column is-two-fifths">
            <h1 class="title has-text-centered" display-flex>Login</h1>
            <nav>
                {{!-- Temporary Links to pages REMOVE after LOGIN SOLVED --}}
                <a href = "/reservation">Reservation</a>
            </nav>
            {{{body}}}
        </div>
    </div>

</body>

</html>