<form action="/api/users/login" method="POST">
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input is-success" type="email" name="email" id="id" placeholder="email@hello.com">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
    <p class="help is-success">Enter email</p>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input is-success" type="password" name="password" id="password" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
    <p class="help is-success">Enter password</p>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" type="submit">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Clear</button>
    </div>
  </div>
</form>