<head>
  <meta charset='utf-8' />

  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
  <script>

    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        selectable: true,
        businessHours: {
          // days of week. an array of zero-based day of week integers (0=Sunday)
          daysOfWeek: [1, 2, 3, 4, 5], // Monday - Friday
          startTime: '14:00', // a start time (2pm in this example)
          endTime: '21:00', // an end time (9pm in this example)
          dateClick: function (info) {
            alert('Date: ' + info.dateStr);
            alert('Resource ID: ' + info.resource.id);
          }
        }
      });
      calendar.render();
      calendar.on('dateClick', function (info) {
        console.log('You have selected ' + info.dateStr);
      });
    });
  </script>
</head>
<h2>{{fun}}</h2>
<h3>{{#unless loggedIn}}logged out{{/unless}}</h3>
{{#each users}}
<h3>{{username}}</h3>
{{/each}}
<div class="columns is-mobile is-centered">
  <div class="column is-two-fifths">
    <div class="field">
      <label class="label">Full Name</label>
      <div class="control">
        <input class="input is-info" type="text" placeholder="Text input">
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input is-info" type="email" placeholder="Email input" value="hello@">
      </div>
    </div>

    <div class="field">
      <label class="label">Available Times</label>
      <div class="control">
        <div id='calendar'></div>
      </div>
    </div>

    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <script>
          function reservation() {
      calendar.getOption('locale');
      calendar.setOption('locale', 'fr');
      };
      </script>
        <textarea class="textarea" placeholder="Textarea"></textarea>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <p class="flex"> <label class="checkbox">
            <input type="checkbox">
        {{!--insert own terms and conditions url below --}}
          </label> I agree to the <a href="https://jprestaurants.com/booking-terms-conditions">Terms and Conditions</a>
        </p>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link is-light">Cancel</button>
      </div>
    </div>
  </div>
</div>